In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
pd.reset_option("max_columns")
pd.set_option("max_colwidth",None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
# Connect to the SQLite database
conn = sqlite3.connect('all_data.db')

# Example query to fetch all data from the table
query = "SELECT * FROM data_restaurants;"

# Execute the query and load the results into a DataFrame
df_result = pd.read_sql_query(query, conn)

# Display the result
print("Query Result:")
print(df_result)

DatabaseError: Execution failed on sql 'SELECT * FROM data_restaurants;': no such table: data_restaurants